{% extends "base.html" %}
{% load staticfiles %}
 
{% block content %}
<p>This bog application is using the components/services architecture of Angular for its front-end
  with the back-end built on Django 2.1.5.
  It is using Django Rest Framework to send JSON Web Token authentication headers with the HTTP requests.
</p>
    
  <app-root>Loading the app...</app-root>
 
  <script type="text/javascript" src="{% static 'angular-frontend/runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'angular-frontend/polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'angular-frontend/styles.js' %}"></script>
  <script type="text/javascript" src="{% static 'angular-frontend/vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'angular-frontend/main.js' %}"></script>
  
{% endblock %}
